%h1 Listing routes

%table
  %thead
    %tr
      %th Name
      %th Route type
      %th Seats
      %th
      %th
      %th

  %tbody
    - @routes.each do |route|
      %tr
        %td= route.name
        %td= route.route_type
        %td= route.seats
        %td= link_to 'Show', route
        %td= link_to 'Edit', edit_route_path(route)
        %td= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Route', new_route_path
